nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-top: 30px;
    ul{
        display: flex;
        gap: 30px;
    }
    .blog{
        color: crimson;
    }
    i{
        display: block;
    }
    .ikonka{
        display: none;
    }
   

}

@media (max-width: 1000px) {
    nav{
    
    padding-top: 20px;
    ul{
        display: flex;
        gap: 20px;
    }
    .blog{
        color: crimson;
    }
   
   
    
}
}

@media (max-width: 600px) {
    nav{
    
    padding-top: 20px;
    ul{
        display: none;
        gap: 20px;
    }
    .blog{
        color: crimson;
    }
    .ikonka{
        display: flex;
    }
   
    
}
}